.App {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    background-color: white;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

p {
  margin-left: 30px;
}
